version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: filiperochs-n8n_n8n_1
      APP_PORT: 5678
      PROXY_AUTH_ADD: "false"

  n8n:
    image: n8nio/n8n:2.4.5@sha256:1e57b650fa1884af5c52cac2e3d9f05bb6701a6b4214bb74d2a334cc0bb9296d
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/.n8n:/home/node/.n8n
    stop_grace_period: 1m
    environment:
      - PUID=1000
      - PGID=1000
      # Used to set the url for editor, REST API & webhooks
      - N8N_HOST=n8n.filiperocha.dev
      - N8N_SECURE_COOKIE=false
      - N8N_DIAGNOSTICS_ENABLED=false
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
